<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chatrooms</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <main>
      <% if (newRoomID) { %>
        <h1>A new chatroom has been created succesfuly!</h1>
        <p><a class="action-link" href="/chatrooms/<%= newRoomID %>">Go to chatroom</a></p>
      <% } else { %>
      <form class="create-form" action="/chatrooms/create" method="POST">
        <h2>Create a new chatroom:</h2>
        <label for="chat-name">Please, set a chatroom's name:</label>
        <input type="text" name="chatname" value="<%= currentName %>" id="chat-name" placeholder="Room Name" required>
        <label for="chat-password">If you wanna make a private room, set a password:</label>
        <input type="password" name="password" id="chat-password" placeholder="Password">
        <input type="submit" value="Send">
        <% if (!!errors) { for (let error of errors) { %>
        <p><span class="issue"><%= error.msg %></span></p>
          <% }} %>
        <p><a class="action-link" href="/">Back to main</a></p>
      </form>
      <% } %>
    </main>
  </body>
</html>
