<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chatrooms</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <h1>Chat Rooms</h1>
    </header>
    <main>
      <% if (isAuthorize) { %>
      <div id="user-top-panel">
        <h2>Welcome, <span class="username"><%= username %></span> !</h2>
        <form class="logOut" action="/" method="POST">
          <input type="submit" name="logout" value="Log out">
        </form>
      </div>
      <div id="own-chatrooms-panel">
        <h3>Create a new chat room!</h3>
        <div id="create-chat"><a class="action-link" href="/chatrooms/create">Create</a></div>
      </div>
      <div id="chatroom-access-panel">
        <h3>Get an Access to a private chat room:</h3>
        <form id="private-chat-form" action="#">
          <input type="text" name="chatname" placeholder="Chat Name" required>
          <input type="password" name="chatpassw" placeholder="Password" required>
          <input type="submit" value="Send">
          <p class="issue"></p>
        </form>
        <h4>List of allowed chatrooms:</h4>
        <ul id="allowed-chatrooms" class="chatlist">
          <!-- Place for avaible chats -->
        </ul>
      </div>
      <% } else { %>
      <div id="authorization">
        <h2>Please Log In:</h2>
        <form class="logIn" action="/" method="POST">
          <input type="text" name="login"
            placeholder="Login"  required autofocus>
          <input type="password" name="password"
            placeholder="Password" required>
          <input type="submit" value="LOG IN">
        </form>
        <div class="issue"><%= issue %></div>
        <h3>Still didn't have an account?</h3>
        <div id="sign-up-button"><a class="action-link" href="/signup">Sign Up</a></div>
        <% } %>
      </div>
    </main>
    <footer>
      <p>Made by Elias 2019 <span id="copyleft">&copy;</span> Copyleft All Right Doesn't Reserved</p>
    </footer>

    <!-- Scripts -->
    <% if (isAuthorize) { %>
    <script src="/js/main.js"></script>
    <% } %>
  </body>
</html>
